@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
    color: rgb(37, 37, 38);
  font-family: 'Lemonada', cursive;
}

.App {
    font-family: sans-serif;
    /* text-align: center; */
    padding: 0 36px;
    max-width: 665px;
    margin: 0 auto;
  
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
      margin: 4rem auto;
      padding: 2rem 3rem 3rem;
      max-width: 820px;
      background: #69b7eb;
      color: #fff;
      box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    
  }
  h1 {
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
  }

  .todo-list {
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  label {
      font-size: 2rem;
  }

form > input {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 1%;
    font-size: 1.3rem;
    width: 350px;
    outline: 0;
    color: rgb(37, 37, 38);
    border-bottom: 1.25px solid #0c98a2;;
    margin-right: 8px;
  }

  input::placeholder {
    color: #82bcc1;
    opacity: .25;
    padding: 1%;
  }

  .todo {
    display: flex;
    background-color: #0c98a2;;
    color: white;
    width: 80%;
    text-align: center;
    margin: 4px 0;
    padding-left: 5px;
    cursor: pointer;
    padding: 1px;
    justify-content: center;
    border-radius: 8px;
  }
  .todo p{
      color: white;
      font-size: 1rem;
      margin: 3px auto;
      /* border-radius: 8px; */
      }
  
  .todo.completed {
    background-color: #82bcc1;
    text-decoration: line-through;
    color: white;
  }


button {
    background-color: #2d1a70;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 40px;
    border-radius: 8px;

  }
  
  .clear-btn {
    margin-top: 16px;
    width: 80%;
  }
  
  .TodoList {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    background: #ff6666;
    color: #fff;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    
  }